<header class="header" role="banner">

<div class="nav">
  <ul class="navigation">
  <div class='nav-contact-icon'>
    <a href="mailto:marieleleu@icloud.com" target='_blank' class="navlink contact-icon"><i class="far fa-envelope"></i></a>
    <a href="https://www.linkedin.com/in/marieleleu/" target='_blank' class="navlink contact-icon"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://github.com/marieleleu566" target='_blank' class="navlink contact-icon"><i class="fab fa-github"></i></a>
  </div>
  <div>
  <%= link_to "home", '/' %>
    <a href="#" class="navlink"><%= link_to "about", '/about', class:"nav__link active" %></a>
    <a href="#" class="navlink"><%= link_to "work", '/work', class:"nav__link" %></a><br><br>
  </div>
  </ul>
</div>

</header>
