
body {
  background: radial-gradient(50% 50% at 50% 50%, rgba(238, 174, 202, 0.4) 42.97%, rgba(148, 187, 233, 0.51) 100%);
  min-height: calc(100vh);
  cursor: url('cursor1.png'), auto;
}


.keepon {
  font-family: 'Abril Fatface', cursive;
  font-size: 80px;
  color: black;
  z-index: 1000;
}

.background-text {
  color: white;
  opacity: 60%;
  font-family: Antonio;
  font-style: normal;
  font-weight: normal;
  font-size: 850px;
  line-height: 0px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
}

.gradient {
  position: relative;
}
