.navigation {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 30px 35px;
    width: 100%;
    margin-bottom: 0px;
    font-family: 'Antonio', sans-serif;
    font-size: 35px;
    letter-spacing: -0.07em;
    color: #FFFFFF;
    a {
      margin: 0px 10px;
      text-decoration: none;
      color:white;
    }
    ul {
      padding-inline-start: 0px;
    }
}

